<section id="header">
    <a href="#"><img src="assets/logo1.jpeg" class="logo"></a>


    <div>
        <ul id="navbar">
            <li><a href="/">Home</a></li>
            <li><a class="active" href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <a href="" id="close"><i class="far fa-times"></i></a>
        </ul>
    </div>
    <div id="mobile">
        <i id="bar" class="fas fa-outdent"></i>
    </div>
</section>

<section id="page-header" class="about-header">

    <h2>#KnowUs</h2>
    <p>Save more with coupons & up to 70% off!</p>

</section>

<section id="about-head" class="section-p1">
    <img src="assets/about/a6.jpg" alt="">
    <div>
        <h2>Who We Are?</h2>
        <p>Welcome to ClickCart, your trusted online shopping destination for all your needs. At ClickCart, we're
            more than just an e-commerce platform; we're a community of shoppers, sellers, and innovators who are
            passionate about providing you with the best shopping experience.
        </p>
        <br><br>
        <marquee bgcolor="#ccc" loop="-1">Our Journey: ClickCart was founded in [Year] with a simple yet powerful
            vision: to make online shopping easy, enjoyable, and accessible for everyone. Since then, we've been on
            an incredible journey, expanding our product range, partnering with top brands, and serving millions of
            satisfied customers worldwide.

        </marquee>
    </div>
</section>


