<section id="header">
    <a href="#"><img src="assets/logo1.jpeg" class="logo"></a>


    <div>
        <ul id="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a class="active" href="/contact">Contact</a></li>
            <a href="" id="close"><i class="far fa-times"></i></a>
        </ul>
    </div>
    <div id="mobile">
        <i id="bar" class="fas fa-outdent"></i>
    </div>
</section>

<section id="page-header" class="about-header">

    <h2>#lets_talk</h2>
    <p>Leave a Message, We love to hear from you!</p>

</section>

<section id="contact-details" class="section-p1">
    <div class="details">
        <span>GET IN TOUCH</span>
        <h2>Visit one of our store or contact us today</h2>
        <h3>Head Office</h3>
        <div>
            <li>
                <i class="fal fa-map"></i>
                <p>Jl. Batu Ampar IV Daerah Khusus Ibukota Jakarta 13520</p>
            </li>
            <li>
                <i class="fal fa-envelope"></i>
                <p>RevouGrup5@gmail.com</p>
            </li>
            <li>
                <i class="fal fa-phone-alt"></i>
                <p>+6281934175375</p>
            </li>
            <li>
                <i class="fal fa-clock"></i>
                <p>10.00 - 18.00, Mon - Sat</p>
            </li>
        </div>
    </div>
    <div class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.878276589296!2d106.8624561!3d-6.279729499999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f260f2c86a4b%3A0x89282c7e5dd7377e!2sJl.%20Batu%20Ampar%20IV%2C%20Batu%20Ampar%2C%20Kec.%20Kramat%20jati%2C%20Kota%20Jakarta%20Timur%2C%20Daerah%20Khusus%20Ibukota%20Jakarta%2013520!5e0!3m2!1sid!2sid!4v1694878787620!5m2!1sid!2sid"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>

<section id="form-details">
    <form action="/send-message" method="POST" id="myForm">
        <span>Leave a Message</span>
        <h2>We love to hear from you</h2>
        <input name="name" type="text" placeholder="Your Name" autocomplete="off" required>
        <input id="email-message" name="email" type="email" placeholder="E-mail" autocomplete="off" required>
        <input name="subject" type="text" placeholder="Subject" autocomplete="off" required>
        <textarea name="message" id="" cols="30" rows="10" placeholder="Your Message" autocomplete="off" required></textarea>
        <button class="normal" id="validateButton2">Submit</button>
    </form>
</section>

