<section id="hero">
    <h4>Trade in Offer</h4>
    <h2>Super value deals</h2>
    <h1>On all products</h1>
    <p>Save more with coupons & up to 70% off!</p>
    <button>Shop Now</button>
</section>

<section id="feature" class="section-p1">
    <div class="fe-box">
        <img src="assets/features/f1.png" alt="">
        <h6>Free Shipping</h6>
    </div>
    <div class="fe-box">
        <img src="assets/features/f2.png" alt="">
        <h6>Online Order</h6>
    </div>
    <div class="fe-box">
        <img src="assets/features/f3.png" alt="">
        <h6>Save Money</h6>
    </div>
    <div class="fe-box">
        <img src="assets/features/f4.png" alt="">
        <h6>Promotions</h6>
    </div>
    <div class="fe-box">
        <img src="assets/features/f5.png" alt="">
        <h6>Happy Hour</h6>
    </div>
    <div class="fe-box">
        <img src="assets/features/f6.png" alt="">
        <h6>Support</h6>
    </div>
</section>

<section id="product-1" class="section-p1">
    <h2>Featured Product</h2>
    <p>Summer Collection</p>
    <div class="pro-container">
        <div class="pro">
            <img src="assets/products/f1.jpg" alt="">
            <div class="des">
                <span>Zara</span>
                <h5>Cartoon Astro T-shirt</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>Rp.299.000</h4>
            </div>
            <a href=""><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="assets/products/f2.jpg" alt="">
            <div class="des">
                <span>Zara</span>
                <h5>Flowery T-shirt</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>Rp.299.000</h4>
            </div>
            <a href=""><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="assets/products/f3.jpg" alt="">
            <div class="des">
                <span>Zara</span>
                <h5>Summery T-shirt</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>Rp.299.000</h4>
            </div>
            <a href=""><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="assets/products/f4.jpg" alt="">
            <div class="des">
                <span>Zara</span>
                <h5>White Rose T-shirt</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>Rp.299.000</h4>
            </div>
            <a href=""><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="assets/products/f5.jpg" alt="">
            <div class="des">
                <span>Zara</span>
                <h5>Cloud Flower T-shirt</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>Rp.299.000</h4>
            </div>
            <a href=""><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="assets/products/f6.jpg" alt="">
            <div class="des">
                <span>Zara</span>
                <h5>Two-Side T-shirt</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>Rp.299.000</h4>
            </div>
            <a href=""><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="assets/products/f7.jpg" alt="">
            <div class="des">
                <span>Zara</span>
                <h5>Flower Summer Pants</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>Rp.299.000</h4>
            </div>
            <a href=""><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="assets/products/f8.jpg" alt="">
            <div class="des">
                <span>Zara</span>
                <h5>Cat Tail Dress</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>Rp.299.000</h4>
            </div>
            <a href=""><i class="fal fa-shopping-cart cart"></i></a>
        </div>
    </div>
</section>

<section id="newsletter" class="section-p1 section-m1">
    <div class="newstag">
        <h4>Sign Up For Newsletter</h4>
        <p>Get E-mail updates about our latest shop and <span>special offers</span></p>
    </div>
    <div class="form">
        <input type="text" placeholder="Your E-mail address">
        <button class="normal">Sign up</button>
    </div>
</section>