<section id="newsletter" class="section-p1 section-m1">
    <div class="newstag">
        <h4>Sign Up For Newsletter</h4>
        <p>Get E-mail updates about our latest shop and <span>special offers</span></p>
    </div>
    <!-- note : postman work but form not -->
    <form action="/get-news-letter" method="POST" class="form">
        <input name="email" type="text" placeholder="Your E-mail address" autocomplete="off">
        <button class="normal">Sign up</button>
    </form>
</section>